#principalContainer {
  display: flex;
  min-height: 100vh;
  background-image: url('../assets/logo3_2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#principalForm {
  border: 2px solid orangered;
  color: aliceblue;
  width: 50vw;
  padding: 10px;
  margin: 10px;
}

#inputsContainer {
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mb-3 {
    width: 45%;
}

#principalRespuesta {
  border: 2px solid orange;
  width: 50vw;
  margin: 10px;
  color: aliceblue;
}

#recomendacionesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  color: white;
}

@media (max-width: 768px) {
  #principalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #principalForm,
  #principalRespuesta {
    width: 90%;
  }

  #recomendacionesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}