#root {
    --color-texto: aliceblue;
}

.header {
    border-bottom: 2px solid gray;
}

a { 
    color: var(--color-texto);
    text-decoration: none;
}

.navbar-nav{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    color: var(--color-texto);
}

#basic-nav-dropdown{
    color: var(--color-texto);
}

.dropdown-menu {
    background-color: black;
    padding: 10px;
}

.dropdown-menu a{
    color: var(--color-texto);
}

.dropdown-menu>a:hover{
    background-color: rgba(125, 125, 125, 0.5);
    padding: 5px;
}