@import "tailwindcss";

@theme {
  --color-onix: var(--onix);
  --color-dark-onix: var(--dark-onix);
  --color-light-onix: var(--light-onix);
}

:root {
  --onix: #2c2c2c;
  --dark-onix: #1a1a1a;
  --light-onix: #f0f0f0;
}

